.board-cover {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(75, 75, 68, .96);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.board-cover__label {
  font-style: italic;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 4rem 0 1.5rem;
}

.board-cover__title {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.bord-cover__bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 2.5rem;
  width: 100%;
}

.final-score {
  color: #ffc107;
  font-size: 2rem;
  margin: 1rem 0 0;
}

.result {
  .game-meta--value {
    color: #fff;
  }
}

.game-next-cover {
  color: #5a6268;
  background-color: rgba(255, 255, 255, .9);

  .board-cover__title {
    color: #5a6268;
    &.win {
      color: #28a745;
    }
    &.lose {
      color: #dc3545;
    }
  }
}

.over-action-label {
  color: #5a6268;
  font-family: $titleFont;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 0 .5rem;
}

.cover-actions {
  .half {
    margin-top: 1rem;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
  }
}

@media(min-width: breakpoint(sm)) {
  .cover-actions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -1em;

    .half {
      margin: 0;
      padding: 0 1em;
      width: 50%;
    }
  }
}
