.rivals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -1rem;
}

.rival {
  position: relative;
  margin: 0 .5rem 1rem;
  padding: 1rem 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: .25rem;
}

.rival-result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rival-hand {
  color: #28a745 + 50;
  font-size: 4rem;
  padding: 1rem;
  border-radius: 50%;
  background: $font-base-color;
  width: 100px;
  height: 100px;
  .svg-inline--fa {
    display: block;
    line-height: 1;
    margin: 0 auto;
  }
}

.rival-name {
  text-align: center;
  margin: .5rem 0 0;
}

.rival-remove-btn {
  position: absolute;
  top: .25em;
  right: .25em;
}

.spin {
  position: relative;
  border-radius: 50%;
  background: $font-base-color;
  width: 100px;
  height: 100px;
}

.spin-hand {
  position: absolute;
  top: 0;
  left: 0;
  animation: spinAnime .6s linear 0s infinite;

  &:nth-child(2) {
    animation-delay: .2s;
  }

  &:nth-child(3) {
    animation-delay: .4s;
  }
}

@keyframes spinAnime {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

