@mixin btn-setting($key: default) {
  $color: map-get($btn-colors, $key);
  background-color: map-get($color, base);
  &:hover {
    background-color: map-get($color, hover);
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  user-select: none;
  padding: .375rem .75rem;
  background-color: transparent;
  border: 0;
  border-radius: .25rem;
  transition: .15s background-color ease-in-out;
  outline: none;

  @include btn-setting(default);
}

.btn-sm {
  font-size: $small;
  padding: .2rem .5rem;
}

.play-btn {
  @include btn-setting(success);
  display: block;
  font-family: $titleFont;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 0 auto;
  padding: .5rem 1.5rem;
  max-width: 260px;
  width: 100%;
}

.restart-btn {
  @include btn-setting(warning);
  color: $theme-dark;
}

.next-btn {
  @include btn-setting(info);
}

.get-reward-btn {
  @include btn-setting(info);
}

.bet-all-btn {
  @include btn-setting(danger);
}


@mixin controll-btn-setting($key: default) {
  $color: map-get($btn-colors, $key);
  color: #fff;
  background-color: map-get($color, base);
  box-shadow: 0 4px 0 map-get($color, active);
  &:hover {
    background-color: map-get($color, hover);
  }
  &:active,
  &.current{
    top: 3px;
    background-color: map-get($color, hover) - 30;
    box-shadow: 0 1px 0 map-get($color, active);
  }
}

.controll-btn {
  @extend .btn;
  position: relative;
  line-height: 1;
  padding: 1em;
  margin-bottom: 4px;
  border-radius: 50%;

  &.disabled {
    cursor: not-allowed;
    filter: contrast(50%);
  }
}

.controll-btn--stone {
  @include controll-btn-setting(primary);
}

.controll-btn--scissors {
  @include controll-btn-setting(warning);
}
.controll-btn--paper {
  @include controll-btn-setting(danger);
}

.rival-remove-btn {
  @include btn-setting(danger);
  padding: 0;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
