$sanserif: system-ui, -apple-system, blinkmacsystemfont, avenir,
  'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3', meiryo, 'メイリオ', sans-serif;

$monospace: 'Source Code Pro', SFMono-Regular, monospace;

// Typography
$font-base-color: #2e2927;

// btn color
$btn-colors: (
  default: (
    base: #6c757d,
    hover: #5a6268,
    active: #4e555b,
  ),
  primary: (
    base: #007bff,
    hover: #0069d9,
    active: #005cbf,
  ),
  info: (
    base: #17a2b8,
    hover: #138496,
    active: #10707f,
  ),
  success: (
    base: #28a745,
    hover: #218838,
    active: #1c7430,
  ),
  warning: (
    base: #ffc107,
    hover: #e0a800,
    active: #c69500,
  ),
  danger: (
    base: #dc3545,
    hover: #c82333,
    active: #b21f2d,
  ),
);
