$sanserif: system-ui, -apple-system, blinkmacsystemfont, avenir,
  'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3', meiryo, 'メイリオ', sans-serif;

$titleFont: 'Josefin Sans', system-ui, -apple-system, blinkmacsystemfont, avenir,
'Helvetica Neue', sans-serif;

$monospace: 'Source Code Pro', SFMono-Regular, monospace;

$breakpoints: (
  sm: 35.5em,
  md: 48em,
  lg: 64em,
  xl: 80em,
);

@function breakpoint($key: sm) {
  @return map-get($breakpoints, $key);
}

// Typography
$font-base-color: #2e2927;

$small: 93%;

// btn color
$btn-colors: (
  default: (
    base: #6c757d,
    hover: #5a6268,
    active: #4e555b,
  ),
  primary: (
    base: #007bff,
    hover: #0069d9,
    active: #005cbf,
  ),
  info: (
    base: #17a2b8,
    hover: #138496,
    active: #10707f,
  ),
  success: (
    base: #28a745,
    hover: #218838,
    active: #1c7430,
  ),
  warning: (
    base: #ffc107,
    hover: #e0a800,
    active: #c69500,
  ),
  danger: (
    base: #dc3545,
    hover: #c82333,
    active: #b21f2d,
  ),
);

$theme-dark: #212529;
