.app {
  position: relative;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #eee;
}

.main {
  position: relative;
  padding: 1rem 1rem 2rem;
}

.footer {
  border-top: 1px solid #eee;
}

.main-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 65vh;
}

.main-actions {
  bottom: 2rem;
  width: 100%;
}
